* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #000;
    color: #fff;
}

a {
    text-decoration: none;
    color: #000000;
}

li {
    list-style: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.title {
    font-size: 3rem;
    font-weight: 700;
    margin-left: 30px;
}

header img {
    height: 50px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
}


.nav {
    padding-block-start: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    align-self: flex-start;
    top: 20px;
    overflow-y: auto;
    z-index: 10;
}

.nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

li.nav-item.active {
    background: #ff9e01;
    color: #000;
    border-radius: 8px;
}

.nav-item {
    margin: 0;
    background: #fff;
    color: #000;
    width: auto;
    padding: 10px 10px;
    border-radius: 8px;
}

.nav-item a {
    margin: 40px 20px;
}

section::before {
    content: "";
    width: 100%;
    height: 50px;
    background:
        linear-gradient(rgba(0, 0, 0, 1),
            rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0));

    /* create a new stacking context */
    position: absolute;
}

section::after {
    content: "";
    bottom: -130px;
    width: 100%;
    height: 100px;
    background:
        linear-gradient(rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0));

    /* create a new stacking context */
    position: absolute;
}

section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background:
        linear-gradient(rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7)),
        url(../../assets/background.jpg);
    background-size: cover;
    z-index: -2;
}

.section-content {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section img {
    height: 200px;
    width: auto;
}

section h1 {
    font-size: 5rem;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
}

section p {
    font-size: 1.5rem;
}

section a {
    font-size: 1.5rem;
    color: #fff;
}

.coach-card {
    background: rgba(0, 0, 0, 0.4);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.9px);
    -webkit-backdrop-filter: blur(4.9px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 50px;
    border-radius: 16px;
}

.container {
    display: flex;
    flex-direction: row;
    gap: 100px;
    margin-bottom: 30px;
}

.infos-coach {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.photo-coach {
    border-radius: 16px;
    border: 2px solid #5a5a5a;
    overflow: hidden;
}

.btns-coach {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.btns-coach button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
    margin-bottom: 0;
    background: #000;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 16px;
}

.btns-coach button:hover {
    background: #fff;
    color: #000;
    transition: all 0.5s ease-in-out;
}

.btns-coach button:focus {
    background: #fff;
    color: #000;
    transition: all 0.1s ease;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: #000;
    color: #fff;
    height: 100px;
}

.lien-gmaps {
    color: #fff;
}

footer p,
footer a {
    margin: 40px 20px;
}